.main-part {
    /* background: #00153A; */
    background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('https://cdn.pixabay.com/photo/2019/02/17/13/47/karate-4002261_960_720.png');
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    z-index: 10;
}
.main-text p{
    position: relative;
    font-family: 'poppins', sans-serif;
    top: 20%;
}

.hero-well img{
    display: none;
}
#sub-btn {
    background: #cc5226 !important;
    margin: 0 auto;
    border-radius: 10px;
}

.mid-space {
    padding: 0 10em;
}

@media screen and (max-width:768px) {
    #header .logo {
        margin-left: 1em;
    }
    
    .hero-well img {
        visibility: visible;
    }
}