.main-part {
    /* background: #00153A; */
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cutewallpaper.org/21/karate-wallpaper/Kyokushin-Karate-Full-HD-Wallpapers-Wallpaper-Cave.jpg');
    background-attachment: fixed;
    background-size: cover;
    z-index: 10;
}
.main-text p{
    position: relative;
    font-family: 'poppins', sans-serif;
    top: 20%;
}

.hero-well img{
    display: none;
}
#sub-btn {
    background: #cc5226 !important;
    margin: 0 auto;
    border-radius: 10px;
}

.mid-space {
    padding: 0 10em;
}

@media screen and (max-width:768px) {
    #header .logo {
        margin-left: 1em;
    }
    
    .hero-well img {
        visibility: visible;
    }
}