@charset "utf-8";
/* break point 482 */

.leaders {
    background: #131313;
}

.leaders h4 {
    padding: 20px 0;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    font-size: 18px;
    color: #fff;
}

.inst-container {
    min-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover-box {
    width: 310px;
    height: 480px;
    background: #1e1e26;
    border-radius: 10px;
    box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5 );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 15px 10px;
}

.model {
    margin-top: -250px;
    height: 170px;
    max-height: 80%;
    max-width: 100%;
    border-radius: 130px;
    /* background-color: #32323e; */
    background: #2d2d35;
}

.short-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.short-details p {
    font-family: Calibri;
    font-weight: bold;
    color: #6a6a74;
    text-align: center;
    margin-top: -15px;
}

.coaches {
    font-weight: bold;
    letter-spacing: 1px;
    font-family: monospace, sans-serif;
    color: #32323e;
    font-size: 25px;
}

.short-details h2 {
    margin-top: -250px;
    height: 50px;
}

.cover-box:hover {
    background-color: #17171d;
    transform: scale(1.02);
    transform-style: preserve-3d;
    transition: all ease .4s;
}

.cover-box:hover .coaches {
    color: #b85d13;
    transition: all ease .6s;
}

/* Media quires */
@media screen and (max-width:768px) {
    .cover-box {
        width: 94%;
        height: 500px;
    }
    .modal {
        height: 250px;
    }
    .short-details {
        font-size: 16px;
        width: 250px;
    }
}
/* .item-a { width:200px; }
.item-b { width:340px; }
.item-c { width:290px; }
.item-d { width:220px; }
.item-e { width:350px; }
@media (max-width: 768px) {
    .item-a { width:100px; }
    .item-b { width:240px; }
    .item-c { width:190px; }
    .item-d { width:120px; }
    .item-e { width:250px; }
} */