@charset "UTF-8";
@import "https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:300,400|Pacifico";
/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	body {
		line-height: 1;
		-webkit-text-size-adjust: none;
	}

	ol, ul {
		list-style: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0 0 0 0em;
	}

	.row.\30 \25 {
		margin: 0 0 -1px 0em;
	}

	.row.uniform.\30 \25 > * {
		padding: 0em 0 0 0em;
	}

	.row.uniform.\30 \25 {
		margin: 0em 0 -1px 0em;
	}

	.row > * {
		padding: 0 0 0 2em;
	}

	.row {
		margin: 0 0 -1px -2em;
	}

	.row.uniform > * {
		padding: 2em 0 0 2em;
	}

	.row.uniform {
		margin: -2em 0 -1px -2em;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 4em;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -4em;
	}

	.row.uniform.\32 00\25 > * {
		padding: 4em 0 0 4em;
	}

	.row.uniform.\32 00\25 {
		margin: -4em 0 -1px -4em;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 3em;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -3em;
	}

	.row.uniform.\31 50\25 > * {
		padding: 3em 0 0 3em;
	}

	.row.uniform.\31 50\25 {
		margin: -3em 0 -1px -3em;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 1em;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -1em;
	}

	.row.uniform.\35 0\25 > * {
		padding: 1em 0 0 1em;
	}

	.row.uniform.\35 0\25 {
		margin: -1em 0 -1px -1em;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 0.5em;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -0.5em;
	}

	.row.uniform.\32 5\25 > * {
		padding: 0.5em 0 0 0.5em;
	}

	.row.uniform.\32 5\25 {
		margin: -0.5em 0 -1px -0.5em;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (max-width: 1680px) {

		.row > * {
			padding: 0 0 0 2em;
		}

		.row {
			margin: 0 0 -1px -2em;
		}

		.row.uniform > * {
			padding: 2em 0 0 2em;
		}

		.row.uniform {
			margin: -2em 0 -1px -2em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 4em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -4em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 4em 0 0 4em;
		}

		.row.uniform.\32 00\25 {
			margin: -4em 0 -1px -4em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 3em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -3em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 3em 0 0 3em;
		}

		.row.uniform.\31 50\25 {
			margin: -3em 0 -1px -3em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 1em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -1em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 1em 0 0 1em;
		}

		.row.uniform.\35 0\25 {
			margin: -1em 0 -1px -1em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.5em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.5em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.5em 0 0 0.5em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.5em 0 -1px -0.5em;
		}

		.\31 2u\28xlarge\29, .\31 2u\24\28xlarge\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xlarge\29, .\31 1u\24\28xlarge\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xlarge\29, .\31 0u\24\28xlarge\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xlarge\29, .\39 u\24\28xlarge\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xlarge\29, .\38 u\24\28xlarge\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xlarge\29, .\37 u\24\28xlarge\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xlarge\29, .\36 u\24\28xlarge\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xlarge\29, .\35 u\24\28xlarge\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xlarge\29, .\34 u\24\28xlarge\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xlarge\29, .\33 u\24\28xlarge\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xlarge\29, .\32 u\24\28xlarge\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xlarge\29, .\31 u\24\28xlarge\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xlarge\29 + *,
		.\31 1u\24\28xlarge\29 + *,
		.\31 0u\24\28xlarge\29 + *,
		.\39 u\24\28xlarge\29 + *,
		.\38 u\24\28xlarge\29 + *,
		.\37 u\24\28xlarge\29 + *,
		.\36 u\24\28xlarge\29 + *,
		.\35 u\24\28xlarge\29 + *,
		.\34 u\24\28xlarge\29 + *,
		.\33 u\24\28xlarge\29 + *,
		.\32 u\24\28xlarge\29 + *,
		.\31 u\24\28xlarge\29 + * {
			clear: left;
		}

		.\-11u\28xlarge\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xlarge\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xlarge\29 {
			margin-left: 75%;
		}

		.\-8u\28xlarge\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xlarge\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xlarge\29 {
			margin-left: 50%;
		}

		.\-5u\28xlarge\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xlarge\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xlarge\29 {
			margin-left: 25%;
		}

		.\-2u\28xlarge\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xlarge\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 1280px) {

		.row > * {
			padding: 0 0 0 1.5em;
		}

		.row {
			margin: 0 0 -1px -1.5em;
		}

		.row.uniform > * {
			padding: 1.5em 0 0 1.5em;
		}

		.row.uniform {
			margin: -1.5em 0 -1px -1.5em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 3em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -3em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 3em 0 0 3em;
		}

		.row.uniform.\32 00\25 {
			margin: -3em 0 -1px -3em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 2.25em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -2.25em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 2.25em 0 0 2.25em;
		}

		.row.uniform.\31 50\25 {
			margin: -2.25em 0 -1px -2.25em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.75em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.75em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.75em 0 0 0.75em;
		}

		.row.uniform.\35 0\25 {
			margin: -0.75em 0 -1px -0.75em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.375em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.375em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.375em 0 0 0.375em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.375em 0 -1px -0.375em;
		}

		.\31 2u\28large\29, .\31 2u\24\28large\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28large\29, .\31 1u\24\28large\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28large\29, .\31 0u\24\28large\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28large\29, .\39 u\24\28large\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28large\29, .\38 u\24\28large\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28large\29, .\37 u\24\28large\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28large\29, .\36 u\24\28large\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28large\29, .\35 u\24\28large\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28large\29, .\34 u\24\28large\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28large\29, .\33 u\24\28large\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28large\29, .\32 u\24\28large\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28large\29, .\31 u\24\28large\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28large\29 + *,
		.\31 1u\24\28large\29 + *,
		.\31 0u\24\28large\29 + *,
		.\39 u\24\28large\29 + *,
		.\38 u\24\28large\29 + *,
		.\37 u\24\28large\29 + *,
		.\36 u\24\28large\29 + *,
		.\35 u\24\28large\29 + *,
		.\34 u\24\28large\29 + *,
		.\33 u\24\28large\29 + *,
		.\32 u\24\28large\29 + *,
		.\31 u\24\28large\29 + * {
			clear: left;
		}

		.\-11u\28large\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28large\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28large\29 {
			margin-left: 75%;
		}

		.\-8u\28large\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28large\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28large\29 {
			margin-left: 50%;
		}

		.\-5u\28large\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28large\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28large\29 {
			margin-left: 25%;
		}

		.\-2u\28large\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28large\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 980px) {

		.row > * {
			padding: 0 0 0 1.5em;
		}

		.row {
			margin: 0 0 -1px -1.5em;
		}

		.row.uniform > * {
			padding: 1.5em 0 0 1.5em;
		}

		.row.uniform {
			margin: -1.5em 0 -1px -1.5em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 3em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -3em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 3em 0 0 3em;
		}

		.row.uniform.\32 00\25 {
			margin: -3em 0 -1px -3em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 2.25em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -2.25em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 2.25em 0 0 2.25em;
		}

		.row.uniform.\31 50\25 {
			margin: -2.25em 0 -1px -2.25em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.75em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.75em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.75em 0 0 0.75em;
		}

		.row.uniform.\35 0\25 {
			margin: -0.75em 0 -1px -0.75em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.375em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.375em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.375em 0 0 0.375em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.375em 0 -1px -0.375em;
		}

		.\31 2u\28medium\29, .\31 2u\24\28medium\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28medium\29, .\31 1u\24\28medium\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28medium\29, .\31 0u\24\28medium\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28medium\29, .\39 u\24\28medium\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28medium\29, .\38 u\24\28medium\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28medium\29, .\37 u\24\28medium\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28medium\29, .\36 u\24\28medium\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28medium\29, .\35 u\24\28medium\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28medium\29, .\34 u\24\28medium\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28medium\29, .\33 u\24\28medium\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28medium\29, .\32 u\24\28medium\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28medium\29, .\31 u\24\28medium\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28medium\29 + *,
		.\31 1u\24\28medium\29 + *,
		.\31 0u\24\28medium\29 + *,
		.\39 u\24\28medium\29 + *,
		.\38 u\24\28medium\29 + *,
		.\37 u\24\28medium\29 + *,
		.\36 u\24\28medium\29 + *,
		.\35 u\24\28medium\29 + *,
		.\34 u\24\28medium\29 + *,
		.\33 u\24\28medium\29 + *,
		.\32 u\24\28medium\29 + *,
		.\31 u\24\28medium\29 + * {
			clear: left;
		}

		.\-11u\28medium\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28medium\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28medium\29 {
			margin-left: 75%;
		}

		.\-8u\28medium\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28medium\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28medium\29 {
			margin-left: 50%;
		}

		.\-5u\28medium\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28medium\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28medium\29 {
			margin-left: 25%;
		}

		.\-2u\28medium\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28medium\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 0 0 0 1.25em;
		}

		.row {
			margin: 0 0 -1px -1.25em;
		}

		.row.uniform > * {
			padding: 1.25em 0 0 1.25em;
		}

		.row.uniform {
			margin: -1.25em 0 -1px -1.25em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 2.5em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -2.5em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 2.5em 0 0 2.5em;
		}

		.row.uniform.\32 00\25 {
			margin: -2.5em 0 -1px -2.5em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 1.875em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -1.875em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 1.875em 0 0 1.875em;
		}

		.row.uniform.\31 50\25 {
			margin: -1.875em 0 -1px -1.875em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.625em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.625em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.625em 0 0 0.625em;
		}

		.row.uniform.\35 0\25 {
			margin: -0.625em 0 -1px -0.625em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.3125em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.3125em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.3125em 0 0 0.3125em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.3125em 0 -1px -0.3125em;
		}

		.\31 2u\28small\29, .\31 2u\24\28small\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28small\29, .\31 1u\24\28small\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28small\29, .\31 0u\24\28small\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28small\29, .\39 u\24\28small\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28small\29, .\38 u\24\28small\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28small\29, .\37 u\24\28small\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28small\29, .\36 u\24\28small\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28small\29, .\35 u\24\28small\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28small\29, .\34 u\24\28small\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28small\29, .\33 u\24\28small\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28small\29, .\32 u\24\28small\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28small\29, .\31 u\24\28small\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28small\29 + *,
		.\31 1u\24\28small\29 + *,
		.\31 0u\24\28small\29 + *,
		.\39 u\24\28small\29 + *,
		.\38 u\24\28small\29 + *,
		.\37 u\24\28small\29 + *,
		.\36 u\24\28small\29 + *,
		.\35 u\24\28small\29 + *,
		.\34 u\24\28small\29 + *,
		.\33 u\24\28small\29 + *,
		.\32 u\24\28small\29 + *,
		.\31 u\24\28small\29 + * {
			clear: left;
		}

		.\-11u\28small\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28small\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28small\29 {
			margin-left: 75%;
		}

		.\-8u\28small\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28small\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28small\29 {
			margin-left: 50%;
		}

		.\-5u\28small\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28small\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28small\29 {
			margin-left: 25%;
		}

		.\-2u\28small\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28small\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 480px) {

		.row > * {
			padding: 0 0 0 1.25em;
		}

		.row {
			margin: 0 0 -1px -1.25em;
		}

		.row.uniform > * {
			padding: 1.25em 0 0 1.25em;
		}

		.row.uniform {
			margin: -1.25em 0 -1px -1.25em;
		}

		.row.\32 00\25 > * {
			padding: 0 0 0 2.5em;
		}

		.row.\32 00\25 {
			margin: 0 0 -1px -2.5em;
		}

		.row.uniform.\32 00\25 > * {
			padding: 2.5em 0 0 2.5em;
		}

		.row.uniform.\32 00\25 {
			margin: -2.5em 0 -1px -2.5em;
		}

		.row.\31 50\25 > * {
			padding: 0 0 0 1.875em;
		}

		.row.\31 50\25 {
			margin: 0 0 -1px -1.875em;
		}

		.row.uniform.\31 50\25 > * {
			padding: 1.875em 0 0 1.875em;
		}

		.row.uniform.\31 50\25 {
			margin: -1.875em 0 -1px -1.875em;
		}

		.row.\35 0\25 > * {
			padding: 0 0 0 0.625em;
		}

		.row.\35 0\25 {
			margin: 0 0 -1px -0.625em;
		}

		.row.uniform.\35 0\25 > * {
			padding: 0.625em 0 0 0.625em;
		}

		.row.uniform.\35 0\25 {
			margin: -0.625em 0 -1px -0.625em;
		}

		.row.\32 5\25 > * {
			padding: 0 0 0 0.3125em;
		}

		.row.\32 5\25 {
			margin: 0 0 -1px -0.3125em;
		}

		.row.uniform.\32 5\25 > * {
			padding: 0.3125em 0 0 0.3125em;
		}

		.row.uniform.\32 5\25 {
			margin: -0.3125em 0 -1px -0.3125em;
		}

		.\31 2u\28xsmall\29, .\31 2u\24\28xsmall\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28xsmall\29, .\31 1u\24\28xsmall\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28xsmall\29, .\31 0u\24\28xsmall\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28xsmall\29 + *,
		.\31 1u\24\28xsmall\29 + *,
		.\31 0u\24\28xsmall\29 + *,
		.\39 u\24\28xsmall\29 + *,
		.\38 u\24\28xsmall\29 + *,
		.\37 u\24\28xsmall\29 + *,
		.\36 u\24\28xsmall\29 + *,
		.\35 u\24\28xsmall\29 + *,
		.\34 u\24\28xsmall\29 + *,
		.\33 u\24\28xsmall\29 + *,
		.\32 u\24\28xsmall\29 + *,
		.\31 u\24\28xsmall\29 + * {
			clear: left;
		}

		.\-11u\28xsmall\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28xsmall\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28xsmall\29 {
			margin-left: 75%;
		}

		.\-8u\28xsmall\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28xsmall\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28xsmall\29 {
			margin-left: 50%;
		}

		.\-5u\28xsmall\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28xsmall\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28xsmall\29 {
			margin-left: 25%;
		}

		.\-2u\28xsmall\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28xsmall\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background: #fff;
	}

	.inner {
		margin: 0 auto;
		max-width: 65em;
	}

		@media screen and (max-width: 1280px) {

			.inner {
				max-width: 90%;
			}

		}

		@media screen and (max-width: 980px) {

			.inner {
				max-width: 70%;
			}

		}

		@media screen and (max-width: 736px) {

			.inner {
				max-width: 85%;
			}

		}

/* Type */

	body, input, select, textarea {
		/* color: #767d85; */ /*This is changed by me*/
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 300;
		line-height: 1.65;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 980px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 736px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 480px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

	a {
		color: #e28630;
		text-decoration: none;
	}

		a:hover {
			text-decoration: none;
		}


		em i {
			font-style: italic !important;
		}
	h1, h2, h3, h4, h5, h6 {
		color: #727a82;
		font-weight: 700;
		font-family: "Montserrat", sans-serif;
		line-height: 1.5;
		margin: 0 0 1em 0;
	}
	h1 {
		font-size: 2em;
		line-height: 1.3;
	}

	h2 {
		font-size: 1.75em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header p {
		color: #bbb;
		position: relative;
		margin: 0 0 1.5em 0;
	}

	header h1 + p {
		font-size: 1.25em;
		margin-top: -1em;
	}

	header h2 + p {
		font-size: 1.25em;
		margin-top: -1em;
	}

	header h3 + p {
		font-size: 1.1em;
		margin-top: -0.8em;
	}

	header h4 + p,
	header h5 + p,
	header h6 + p {
		font-size: 0.9em;
		margin-top: -0.6em;
	}

/* Form */

	.select-wrapper {
		text-decoration: none;
		display: block;
		position: relative;
	}

		.select-wrapper:before {
			content: "";
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.select-wrapper:before {
			color: #dee1e3;
			display: block;
			height: 2.75em;
			line-height: 2.75em;
			pointer-events: none;
			position: absolute;
			right: 0;
			text-align: center;
			top: 0;
			width: 2.75em;
		}

		.select-wrapper select::-ms-expand {
			display: none;
		}

/* Box */

	.box {
		border-radius: 4px;
		border: solid 1px #dee1e3;
		margin-bottom: 2em;
		overflow: hidden;
	}

		.box > :last-child,
		.box > :last-child > :last-child,
		.box > :last-child > :last-child > :last-child {
			margin-bottom: 0;
		}

		.box .image.fit {
			margin: 0;
		}

		.box .content {
			padding: 1.5em;
		}

		.box.alt {
			border: 0;
			border-radius: 0;
			padding: 0;
		}

/* Icon */

/* Image */

	.image {
		border: 0;
		display: inline-block;
		position: relative;
	}

		.image img {
			display: block;
		}

		.image.left, .image.right {
			max-width: 40%;
		}

			.image.left img, .image.right img {
				width: 100%;
			}

		.image.left {
			float: left;
			padding: 0 1.5em 1em 0;
			top: 0.25em;
		}

		.image.right {
			float: right;
			padding: 0 0 1em 1.5em;
			top: 0.25em;
		}

		.image.fit {
			display: block;
			margin: 0 0 2em 0;
			width: 100%;
		}

			.image.fit img {
				width: 100%;
			}

		.image.round img {
			border-radius: 100%;
		}

		.image.main {
			display: block;
			margin: 0 0 3em 0;
			width: 100%;
		}

			.image.main img {
				width: 100%;
			}

/* List */

	ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		ul li {
			padding-left: 0.5em;
		}

		ul.alt {
			list-style: none;
			padding-left: 0;
		}

			ul.alt li {
				border-top: solid 1px #dee1e3;
				padding: 0.5em 0;
			}

				ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				ul.icons li:last-child {
					padding-right: 0;
				}

				ul.icons li .icon:before {
					font-size: 2em;
				}

		ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}

			@media screen and (max-width: 480px) {

				ul.actions {
					margin: 0 0 2em 0;
				}

					ul.actions li {
						padding: 1em 0 0 0;
						display: block;
						text-align: center;
						width: 100%;
					}

						ul.actions li:first-child {
							padding-top: 0;
						}

						ul.actions li > * {
							width: 100%;
							margin: 0 !important;
						}

							ul.actions li > *.icon:before {
								margin-left: -2em;
							}

					ul.actions.small li {
						padding: 0.5em 0 0 0;
					}

						ul.actions.small li:first-child {
							padding-top: 0;
						}

			}

/* Table */

/* Button */
/*Dont need all*/
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: #f6755e;
		border-radius: 4px;
		border: 0;
		color: #ffffff;
		cursor: pointer;
		display: inline-block;
		font-family: "Montserrat", sans-serif;
		height: 3.5em;
		line-height: 3.5em;
		padding: 0 3.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
		text-transform: uppercase;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: #f78a76;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: #f56046;
		}

		@media screen and (max-width: 480px) {

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				padding: 0;
			}

		}

/* Flex */

	.flex {
		display: -ms-flexbox;
		-ms-flex-wrap: nowrap;
		-ms-flex-pack: justify;
		-ms-flex-align: stretch;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: nowrap;
		-webkit-flex-wrap: nowrap;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		-moz-align-items: stretch;
		-webkit-align-items: stretch;
		-ms-align-items: stretch;
		align-items: stretch;
	}

		.flex.flex-3 .flex-item {
			-ms-flex: 0 1 auto;
			-ms-flex-preferred-size: 30%;
			-moz-flex-basis: 30%;
			-webkit-flex-basis: 30%;
			-ms-flex-basis: 30%;
			flex-basis: 30%;
		}

			.flex.flex-3 .flex-item.left {
				text-align: right;
			}

		@media screen and (max-width: 980px) {

			.flex {
				-ms-flex-wrap: wrap;
				-moz-flex-wrap: wrap;
				-webkit-flex-wrap: wrap;
				-ms-flex-wrap: wrap;
				flex-wrap: wrap;
			}

				.flex.flex-3 .flex-item {
					-ms-flex-preferred-size: 100%;
					-moz-flex-basis: 100%;
					-webkit-flex-basis: 100%;
					-ms-flex-basis: 100%;
					flex-basis: 100%;
				}

					.flex.flex-3 .flex-item.left {
						text-align: right;
					}

		}

/* Wrapper */

	.wrapper {
		padding: 6em 0 4em 0;
	}

		.wrapper h1.banner-text::before {
			content: '';
			position: absolute;
			background: orangered;
			height: 2px;
			width: 150px;
			margin: 50px 0 5px 5px;
			padding-bottom: 3px;
		}

		.wrapper h1, .wrapper h2, .wrapper h3, .wrapper h4, .wrapper h5 {
			/* color: #25a2c3; */
			color: #f6755e;
			font-family: 'poppins', cursive, sans-serif;
		}

		.wrapper.style1 {
			background: #f6755e;
			color: #fcdcd6;
		}

			.wrapper.style1 h1, .wrapper.style1 h2, .wrapper.style1 h3, .wrapper.style1 h4, .wrapper.style1 h5 {
				color: #fff;
			}

			.wrapper.style1 cite.author {
				color: #fff;
			}

		@media screen and (max-width: 980px) {

			.wrapper {
				padding: 3em 0 1em 0;
			}

		}

		@media screen and (max-width: 480px) {

			.wrapper {
				padding: 2em 0 0.1em 0;
			}

		}

/* Header */

	body {
		padding-top: 6em;
	}

	#header {
		-moz-align-items: center;
		-webkit-align-items: center;
		-ms-align-items: center;
		align-items: center;
		/* background: #fff; */
		background: rgb(14,13,13);
		background: linear-gradient(90deg, rgba(14,13,13,1) 0%, rgba(28,5,5,1) 35%);
		cursor: default;
		height: 6em;
		left: 0;
		line-height: 6em;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10001;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.075);
		text-align: center;
	}

		#header .logo {
			color: rgb(211, 93, 38);
			background-image: linear-gradient(to right, #aa540e, #c28f22 );
			background-clip: text;
			color: transparent;
			-webkit-background-clip: text;
			-webkit-text-fill-mode: transparent;
			font-family: "Pacifico", cursive;
			font-size: 2.5em;
			letter-spacing: 2px;
			margin-top: -5px;
			text-decoration: none;
			display: inline-block;
			text-transform: capitalize;
		}

		#header nav {
			position: absolute;
			top: 0;
			height: inherit;
			line-height: inherit;
		}

			#header nav.left {
				left: 2em;
			}

			#header nav.right {
				right: 2em;
			}

			#header nav.right .inline {
				display: inline-block;
				padding: 0 10px;
				font-size: 18px;
			}

			/*my reg btn	*/
			#header nav .register-button {
				display: inline-block;
				position: relative;
				font-size: 14px;
				border: 2px solid #f56046;
				overflow: hidden;
				background: transparent;
			}

			#header nav .register-button::before{
				background: #F49820; 
				content: '';
				position: absolute;
				right: -50%;
				top: 50%;
				transform: translate(-50%,-50%) rotate(45deg);
				z-index: -1;
				width: 100%;
				height: 0;
				transition: .5s ease all;
			}

			#header nav .register-button:hover::before {
				height: 360% ;
			}

			#header nav .button {
				color: white !important;
				padding: 0 2em;
				height: 3.25em;
				line-height: 3.25em;
			}

			#header nav a {
				text-decoration: none;
				display: inline-block;
			}

				#header nav a[href="#menu"] {
					text-decoration: none;
					-webkit-tap-highlight-color: transparent;
					font-size: 2em;
					color: #dee1e3;
					z-index: 10005;
				}

					#header nav a[href="#menu"]:before {
						content: "";
						-moz-osx-font-smoothing: grayscale;
						-webkit-font-smoothing: antialiased;
						font-family: FontAwesome;
						font-style: normal;
						font-weight: normal;
						text-transform: none !important;
					}

					#header nav a[href="#menu"] span {
						display: none;
					}

					#header nav a[href="#menu"]:before {
						margin: 0 0.5em 0 0;
					}

	@media screen and (max-width: 980px) {

		body {
			padding-top: 44px;
		}

		#header {
			height: 44px;
			line-height: 44px;
		}

			#header .logo {
				font-size: 1.25em;
				text-align: center;
			}

			#header nav a[href="#menu"] {
				font-size: 1.5em;
			}

			#header nav.left {
				left: 1em;
			}

			#header nav.right {
				display: none;
			}

	}

	@media screen and (max-width: 480px) {

		#header {
			min-width: 320px;
		}

	}

/* Menu */

	#menu {
		-moz-transform: translateX(-20em);
		-webkit-transform: translateX(-20em);
		-ms-transform: translateX(-20em);
		transform: translateX(-20em);
		-moz-transition: -moz-transform 0.5s ease, visibility 0.5s;
		-webkit-transition: -webkit-transform 0.5s ease, visibility 0.5s;
		-ms-transition: -ms-transform 0.5s ease, visibility 0.5s;
		transition: transform 0.5s ease, visibility 0.5s;
		-webkit-overflow-scrolling: touch;
		background: rgb(196, 81, 24);
		color: #ffffff;
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		padding: 3em 2em;
		position: fixed;
		left: 0;
		top: 0;
		visibility: hidden;
		width: 20em;
		z-index: 10002;
	}

		#menu > ul {
			margin: 0 0 1em 0;
		}

			#menu > ul.links {
				list-style: none;
				padding: 0;
			}

				#menu > ul.links > li {
					padding: 0;
				}

					#menu > ul.links > li > a{
						text-transform: capitalize;
					}
					
					#menu > ul.links > li > a > i {
						padding-right: 8px;
					}

					#menu > ul.links > li > a:not(.button) {
						border: 0;
						border-top: solid 1px rgba(255, 255, 255, 0.25);
						color: inherit;
						display: block;
						line-height: 3.5em;
						text-decoration: none;
					}

					#menu > ul.links > li > .button {
						display: block;
						margin: 0.5em 0 0 0;
					}

					#menu > ul.links > li:first-child > a:not(.button) {
						border-top: 0 !important;
					}

			#menu > ul.actions {
				display: none;
			}

		#menu .close {
			text-decoration: none;
			-moz-transition: color 0.2s ease-in-out;
			-webkit-transition: color 0.2s ease-in-out;
			-ms-transition: color 0.2s ease-in-out;
			transition: color 0.2s ease-in-out;
			-webkit-tap-highlight-color: transparent;
			border: 0;
			color: #a7d9e7;
			cursor: pointer;
			display: block;
			height: 3.25em;
			line-height: 3.25em;
			padding-right: 1.25em;
			position: absolute;
			right: 0;
			text-align: right;
			top: 0;
			vertical-align: middle;
			width: 7em;
		}

			#menu .close:before {
				content: "";
				-moz-osx-font-smoothing: grayscale;
				-webkit-font-smoothing: antialiased;
				font-family: FontAwesome;
				font-style: normal;
				font-weight: normal;
				text-transform: none !important;
			}

			#menu .close:before {
				font-size: 1.25em;
			}

			#menu .close:hover {
				color: #ffffff;
			}

			@media screen and (max-width: 736px) {

				#menu .close {
					height: 4em;
					line-height: 4em;
				}

			}

		#menu.visible {
			-moz-transform: translateX(0);
			-webkit-transform: translateX(0);
			-ms-transform: translateX(0);
			transform: translateX(0);
			visibility: visible;
		}

		@media screen and (max-width: 980px) {

			#menu ul.actions {
				display: block;
			}
			#menu ul.actions .inline {
				display: inline-flex;
				justify-content: space-around;
				align-items: center;
				padding: 0 10px;
				margin-top: 20px;
			}
			#menu ul.actions a {
				display: block;
				/* font-size: 18px; */
			}
		}

		@media screen and (max-width: 736px) {

			#menu {
				padding: 2.5em 1.75em;
			}

		}

/* Banner */

	#banner {
		padding: 16em 0 18em 0;
		background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../../images/rsz_land1.jpg);
		background-size: cover;
		background-position:center;
		background-repeat: no-repeat;
		text-align: center;
	}

		#banner .content {
			display: block;
			-moz-transition: opacity 1s ease-in-out, -moz-transform 0.75s ease-in-out;
			-webkit-transition: opacity 1s ease-in-out, -webkit-transform 0.75s ease-in-out;
			-ms-transition: opacity 1s ease-in-out, -ms-transform 0.75s ease-in-out;
			transition: opacity 1s ease-in-out, transform 0.75s ease-in-out;
			opacity: 1;
			margin-top: -5em;
		}

		#banner p {
			font-size: 1.25em;
			margin-bottom: 1.75em;
		}

		@media screen and (max-width: 1280px) {

			#banner {
				padding: 12em 0 10em 0;
			}

		}

		@media screen and (max-width: 980px) {

			#banner {
				padding: 8em 6em 6em 6em;
			}

				#banner br {
					display: none;
				}

				#banner h1 {
					font-size: 2.25em;
				}

		}

		@media screen and (max-width: 736px) {

			#banner {
				padding: 6em 4em 4em 4em;
			}
			#banner .content img {
				margin-top: 15px;
				width: 100px;
				height: 100px;
			}
			#banner .actions {
				display: none;
			}
		}

		@media screen and (max-width: 480px) {

			#banner {
				padding: 4em 2em 2em 2em;
			}

				#banner h1 {
					font-size: 2em;
				}

				#banner p {
					font-size: 1em;
				}

				#banner .button {
					font-size: .9em;
				}

		}

		body.is-loading #banner .content {
			opacity: 0;
			-moz-transform: translateY(1em);
			-webkit-transform: translateY(1em);
			-ms-transform: translateY(1em);
			transform: translateY(1em);
		}

/* Main */

	#one .inner {
		margin-bottom: 2em;
	}

	#one .flex-item {
		display: -ms-flexbox;
		-ms-flex-wrap: wrap;
		-ms-flex-pack: justify;
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-justify-content: space-between;
		-webkit-justify-content: space-between;
		-ms-justify-content: space-between;
		justify-content: space-between;
		-moz-align-items: stretch;
		-webkit-align-items: stretch;
		-ms-align-items: stretch;
		align-items: stretch;
	}

		#one .flex-item .move-left {
			margin-left: 40px ;
		}

		#one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
			padding-top: 1em;
		}

		#one .flex-item.left div:last-child, #one .flex-item.right div:last-child {
			-moz-align-self: -moz-flex-end;
			-webkit-align-self: -webkit-flex-end;
			-ms-align-self: -ms-flex-end;
			align-self: flex-end;
		}

		#one .flex-item.left div p, #one .flex-item.right div p {
			margin-bottom: 1em;
		}

		@media screen and (max-width: 1280px) {

			#one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
				padding-top: 0;
			}

			#one .flex-item.left div p, #one .flex-item.right div p {
				margin-bottom: 0;
			}

		}

		@media screen and (max-width: 980px) {

			#one .flex-item {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				text-align: center;
			}

				#one .flex-item #sm-none {
					display: none;
				}
				#one .flex-item .move-left {
					margin: 0px;
				}
				#one .flex-item.left br, #one .flex-item.right br {
					display: none;
				}

				#one .flex-item.left div:first-child, #one .flex-item.right div:first-child {
					padding-top: 0;
				}

				#one .flex-item.left div:last-child, #one .flex-item.right div:last-child {
					-moz-align-self: center;
					-webkit-align-self: center;
					-ms-align-self: center;
					align-self: center;
				}

				#one .flex-item.left div p, #one .flex-item.right div p {
					margin-bottom: 2em;
				}

		}

	#one .image.fit {
		margin: 0 auto;
	}

	/*counter up section*/
			.counterup-area {
				background: rgb(44, 44, 44);
				/* background: linear-gradient(90deg, rgba(236,92,14,1) 0%, rgba(237,169,139,1) 100%);testing purpose */
			}
			.counterup-area h3{
				font-family: 'poppins', cursive, sans-serif;
				padding-top: 30px;
				color: #E5432D;
				text-align: center;
				font-size: 2em;
			}
			.counterup-area p {
				font-family: 'poppins', cursive, sans-serif;
				color: #E5432D;
				text-align: center;
			}
			.counter-content-holder {
				display: flex;
				align-items: center;
				justify-content: space-around;
			}
			.single-counterup{
				display: inline-block;
				width:25%;
				margin:-2px;
			}
			.counterup-content{
				background: rgb(44, 44, 44);
				cursor:pointer;
				text-align: center;
				margin:20px;
				transition: .4s;
			}
			.counterup-content p{
				font-family: 'poppins', cursive, sans-serif;
				opacity: .5;
				font-size: 50px;
				font-weight: 500;
				margin:10px 0px;
				color: #919394;
			}
			.counterup-content h2{
				font-family: 'poppins', cursive, sans-serif;
				font-size: 24px;
				text-transform: uppercase;
				font-weight: 500;
				color: #E5432D;
			}

			/*Responsive CSS*/ /*Note: if you use bootstrap then don't need the css just use bootstrap grid*/

			/* Tablet desktop :768px. */
			@media only screen and (min-width: 768px) and (max-width: 991px) {
				.single-counterup{
					width:50%;
				}

			}
			/* Large Mobile :480px. */
			@media only screen and (max-width: 767px) {
				.single-counterup{
					width:50%;
				}

			}
			/* small mobile :320px. */
			@media only screen and (max-width: 479px) {
				.single-counterup{
					width:100%;
				}
			}

		@media screen and (max-width: 980px) {

			#one .image.fit {
				margin: 0 auto 2em auto;
				max-width: 60%;
			}

		}

		@media screen and (max-width: 480px) {

			#one .image.fit {
				margin: 0 auto 2em auto;
				max-width: 90%;
			}

		}

	@media screen and (max-width: 980px) {

		#two blockquote br {
			display: none;
		}

	}

	@media screen and (max-width: 980px) {

		#three {
			text-align: center;
		}

	}

	/*Gallery styling section*/
	/* .gallery h1 i {
		display: inline-flex;
		width: 25%;
		color: #E5432D;
		font-size: 20px;
	} */
	.gallery {
		padding: 10px 0;
	}
	.gallery h1 {
		display: block;
		width: 100%;
		color: #E5432D;
		text-align: center;
		font-size: 40px;
		font-family: 'poppins', cursive, sans-serif;
	}

	.gallery h1::before {
		content: '';
		position: absolute;
		background: orangered;
		height: 2px;
		width: 300px;
		margin: 60px 0 5px 10px;
		padding-bottom: 3px;
		}

	.gallery .more-btn {
		display: block;
		min-width: 20%;
		margin: 10px auto;
		text-align: center;
		padding: 10px 0;
	}

		@media screen and (max-width: 980px) {
			.gallery h1 {
				display: block;
				width: 100%;
			}
			.gallery h1::before {
				content: '';
				position: absolute;
				background: orangered;
				height: 2px;
				width: 130px;
				margin: 60px 0 5px 5px;
				padding-bottom: 3px;
			}
			.gallery .more-btn {
				display: block;
				min-width: 30%;
				margin: 10px auto;
				text-align: center;
			}
	    }

		@media screen and (max-width: 767px) {
			.gallery h1 {
				display: block;
				width: 100%;
			}
			.gallery h1::before {
				content: '';
				position: absolute;
				background: orangered;
				height: 2px;
				width: 300px;
				margin: 60px 0 5px 10px;
				padding-bottom: 3px;
			}
			.gallery .more-btn {
				display: block;
				min-width: 20%;
				margin: 10px auto;
				text-align: center;
			}
			
		}

		@media screen and (max-width: 480px) {

			.gallery h1 {
				display: block;
				width: 80%;
			}

			.gallery h1::before {
				content: '';
				position: absolute;
				background: orangered;
				height: 2px;
				width: 80px;
				margin: 35px 0 8px 5px;
				padding-bottom: 3px;
			}

			.gallery i:nth-child(1) {
				margin-right: 5px;
			}

			.gallery i:nth-child(2) {
				margin-left: 5px;
			}

			.gallery h1, h1 i {
				margin: 10px auto;
				font-size: 16px !important;
			}
			.gallery .more-btn {
				display: block;
				min-width: 30%;
				margin: 10px auto;
				text-align: center;
			}

		}
/*our instructors styling*/
section {
	overflow: hidden;
    padding: 10px 0;
    background: #fff;
}

.heading {
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 2px;
    margin-right: -3px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    color: #333;
}
.heading::after {
    content: "";
    height: 5px;
    width: 300px;
    background: #e6683c;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
}
.card-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
	flex-direction: column;
}
/* @media screen and (min-width:907px){} */
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	width: 25%;
	flex: 1;
    background: #ebeef8;
    margin: 10px 0;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.card .card-img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    -webkit-clip-path: polygon(0 1%, 10 0% 0, 100% 60%, 0% 100%);
    clip-path: polygon(0 1%, 100% 0, 100% 70%, 0% 100%);
}
.profile-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    z-index: 999;
    margin-top: -50px;
    border-radius: 50%;
    border: 5px solid #ebeef8;
}
.card h1 {
    font-size: 18.75px;
	margin: 7px 0;
	text-align: center;
    color: #333;
}
.job-title {
    color: #777;
    font-size: 15px;
	font-weight: 300;
	color: #F78A76;
}
.about {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: #333;
}
.card .btn {
	text-decoration: none;
    padding: 10px 30px;
    background: #f06851;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 7px;
    color: #eee;
    transition: all .4s ease;
}
.card .btn:hover {
    transform: translateY(-2px);
    box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.2);
}
.card .btn:active {
    transform: translateY(0);
    box-shadow: none;
}
.social-media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 7.5px;
    border-top: .5px solid rgba(0, 0, 0, 0.1);
}
.social-media i {
    font-size: 15px;
    transition: color .5s;
}
.fa-facebook-f {
    color: #3b5999;
}
.fa-instagram {
    color: #e6683c;
}
.fa-twitter {
    color: #55acee;
}
.fa-facebook-f:hover, .fa-instagram:hover, .fa-twitter:hover {
    color: #45e19f;
}

.more-btn-inst {
	padding: 10px 30px;
	display: block;
	text-align: center;
	font-size: 16px;
	width: 15%;
	margin: 10px auto;
}

@media screen and (min-width: 480px) {
	.card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
	}

    .card {
		display: flex;
		flex-grow: 1;
		width: 50%;
        margin: 15px;
        transition: transform .5s;
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    .card:nth-child(1) {
        animation: fadeIn .5s .5s backwards;
    }
    .card:nth-child(2) {
        animation: fadeIn .5s 1s backwards;
    }
    .card:nth-child(3) {
        animation: fadeIn .5s 1.5s backwards;
    }
    .card:nth-child(4) {
        animation: fadeIn .5s 2s backwards;
    }
    .card:hover {
        transform: scale(1.1);
    }
}

@media screen and (min-width:767px) {
	.about {
		display: none;
	}
}

@media screen and (max-width:767px) and (min-width: 480px) {
.card {
	width: 75%;
}
.card .card-img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    -webkit-clip-path: polygon(0 1%, 10 0% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
}
.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    z-index: 999;
    margin-top: -60px;
    border-radius: 50%;
    border: 5px solid #ebeef8;
}
.card h1 {
	letter-spacing: 1px;
    font-size: 30px;
	margin: 7px 0;
	text-align: center;
    color: #333;
}
.job-title {
    color: #777;
    font-size: 18px;
	font-weight: 300;
	color: #F78A76;
}
.social-media i {
    font-size: 18px;
    transition: color .5s;
}
.card .btn {
	text-decoration: none;
    padding: 10px 50px;
    background: #f06851;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 17px;
    color: #eee;
    transition: all .4s ease;
}
}

@media screen and (max-width:480px) and (min-width: 0px) {
section {
	overflow: hidden;
	background: #fff;
}

.heading {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    margin-right: -3px;
    margin-bottom: 30px;
    text-align: center;
    position: relative;
    color: #333;
}
.heading::after {
    content: "";
    height: 5px;
    width: 150px;
    background: #e6683c;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}
.card-wrapper {
    display: flex;
    align-content: center;
    align-items: center;
	flex-direction: column;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	width: 100%;
	flex: 1;
    background: #ebeef8;
    margin: 10px 0;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
}
.card .card-img {
    width: 100%;
    height: 115px;
    object-fit: cover;
    -webkit-clip-path: polygon(0 1%, 100% 0, 100% 97%, 0% 100%);
    clip-path: polygon(0 1%, 100% 0, 100% 97%, 0% 100%);
}
.profile-img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    z-index: 999;
    margin-top: -50px;
    border-radius: 50%;
    border: 5px solid #ebeef8;
}
.card h1 {
    font-size: 18.75px;
	margin: 7px 0;
	text-align: center;
    color: #333;
}
.job-title {
    color: #777;
    font-size: 15px;
	font-weight: 300;
	color: #F78A76;
}
.about {
    font-size: 12px;
    font-style: italic;
    text-align: center;
    color: #333;
}
.card .btn {
	text-decoration: none;
    padding: 10px 30px;
    background: #f06851;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 7px;
    color: #eee;
    transition: all .4s ease;
}
.card .btn:hover {
    transform: translateY(-2px);
    box-shadow: 2.5px 2.5px 10px rgba(0, 0, 0, 0.2);
}
.card .btn:active {
    transform: translateY(0);
    box-shadow: none;
}
.social-media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    margin: 7.5px;
    border-top: .5px solid rgba(0, 0, 0, 0.1);
}
.social-media i {
    font-size: 15px;
    transition: color .5s;
}
.fa-facebook-f {
    color: #3b5999;
}
.fa-instagram {
    color: #e6683c;
}
.fa-twitter {
    color: #55acee;
}
.fa-facebook-f:hover, .fa-instagram:hover, .fa-twitter:hover {
    color: #45e19f;
}

.more-btn-inst {
	padding: 10px 30px;
	display: block;
	text-align: center;
	font-size: 16px;
	width: 15%;
	margin: 10px auto;
}
}


/* Footer */

.footer {
	color: #656565;
    width: 100%;
    background: #111;
}

/*Main content styling*/
.main-content {
    display: flex;
}
.main-content .fbox {
    flex-basis: 50%;
    padding: 10px 20px;
}

.fbox h2 {
    color: rgb(204, 82, 38);
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}

.fbox .content {
    margin: 20px 0 0 0;
    position: relative;
}

.fbox .content::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: -10px;
    background: #1a1a1a;
    z-index: 10;
}
.fbox .content::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 15%;
    top: -10px;
    background: #f12020;
    z-index: 10;
}

/*left part styling*/
.left-part .content p {
    text-align: justify;
}

.left-part .content .social {
    margin: 20px 0 0 0;
}

.left-part .content .social a {
    padding: 0 5px;
}

.left-part .content .social a i {
    height: 40px;
    font-size: 18px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    border-radius: 5px;
    text-align: center;
    transition: all .5s ease;
}

.left-part .content .social a i:hover {
    background: orangered;
}

/*Center part styling*/
.center .content .fas {
    font-size: 1.4375rem;
    border-radius: 50%;
    text-align: center;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
}

.center .content .fas:hover {
    background: orangered;
}

.center .content .text {
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 10px auto;
}

/*right part styling*/

.right-part form .text {
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right-part form .msg {
    margin-top: 10px;
}
.right-part form input, .right-part form textarea {
    width: 100%;
    font-size: 1.0625rem;
    padding-left: 10px;
    background: #151515;
    border: 1px solid #222222;
}

.right-part form input:focus, .right-part form textarea:focus {
    outline-color: #fff;
    outline-width: 5px;
}

.right-part form input {
    height: 35px;
}

.right-part form .btn button {
    height: 40px;
    width: 100%;
    border: none;
	outline: none;
	line-height: 40px;
    font-size: 1.0625rem;
	font-weight: 500;
	margin-top: 10px;
    background: orangered;
    color: #fff;
    cursor: pointer;
    transition: .5s ease all;
}

.right-part form .btn button:hover {
    background: #000;
}

/*Developer section styling*/
.bottom center {
    padding: 5px;
    font-size: 0.9375rem;
    background-color: #151515;
}

.bottom center span {
    color: #656565;
}

.bottom center span a {
    color: #f12020;
    text-decoration: none;
}

.bottom center span a:hover {
    text-decoration: underline;
}

.bottom .developer {
	font-style: italic;
}

/*media quiery for footer*/
@media screen and (max-width:991px) {
    footer {
        position: relative;/*tricky statement*/
        bottom: 0;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box {
        margin: 5px 0;
    }
}